#list-user {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    background: #f1f1f1;
    position: relative;
}


.list-user-header div span > button{
    height: 35px !important;
    border: none !important;
    color: #fff !important;
    background: #1ABC9C !important;
}

.list-user-header form > div{
    width: 340px;
}

.list-user-footer div.pagination-container{
    height: 40px;
}
.list-user-footer div.pagination-container ul{
    margin: 4px 0;
}
.list-user-header{
    padding: 3px 10px;
    margin: 0;
    overflow: hidden;
    height: 40px;
    background: #e3e3e3;
}

#PurgeUserFlags{
    position:absolute;
}

.list-user-footer{
    width: 100%;
    margin: 0;
    background: #e3e3e3;
    height: 45px;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
}

.list-user-body{
    margin: 0;
    width: 100%;
    height: calc(100vh - 120px);    
    overflow: auto;
    padding-bottom: 20px;
}
