#sign-in {
    margin-top: 35px;
    background: #f1f1f1;
    padding: 15px;
    width: 400px;
    margin-left: calc(50% - 200px);
}

#sign-in h2{
    text-align: center;
    font-weight: 600;
}

.email-sign-in-form-group, .password-sign-in-form-group{
    margin: 0px;
    width: 100%;
    height: 33px;
}
.email-sign-in-form-group > input, .password-sign-in-form-group > input{
    width: 350px !important;
    margin: 0px;
    margin-left: calc(50% - 140px);
}

.email-sign-in-form-group > input{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.password-sign-in-form-group > input{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.sign-in-input input{
    margin-left: 45px;
    margin-top: 20px;
    border-radius:0;
}
.new-account-btn button{
    width: 280px;
    border-radius:0;
    margin-left: 45px;
}
.new-account-btn button a{
    color:#fff;
}

.new-account-btn button a:hover,
.new-account-btn button a:focus,
.new-account-btn button a:active{
    color:#fff;
    text-decoration: none; 
}