@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table>
    <tr>
        <td><h4>Audio Recognition provided by</h4></td>
        <td><a href="https://www.acrcloud.com"><img width="200" height="50" src="https://www.acrcloud.com/wp-content/uploads/2016/04/acrcloud-logo.png" /></a></td>
    </tr>
    <tr>
        <td><h4>Audio Search provided by</h4></td> 
        <td><a href="http://www.deezer.com"><img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Deezer.svg/1280px-Deezer.svg.png" /></a></td>
    </tr>
    <tr>
        <td><h4>Video Search provided by</h4></td> 
        <td><a href="https://www.youtube.com/?hl=en&gl=CA"><img width="200" height="95" src="https://www.youtube.com/yt/brand/media/image/YouTube-logo-full_color.png" /></a></td>
    </tr>
    <tr>
        <td><h4>Album art provided by</h4></td>
        <td><a href="www.last.fm/"><img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Lastfm_logo.svg/709px-Lastfm_logo.svg.png" /></a></td>
    </tr>
</table>