@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    70 The Pond Road<br />
    North York, ON M3J 3M6<br />
    <abbr title="Phone">P:</abbr>
    (416) 491-5050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:duckydata@gmail.com">duckydata@gmail.com</a><br />
    <strong>Report a bug:</strong> <a href="mailto:duckydata@gmail.com">duckydata@gmail.com</a>
</address>