@{
    ViewBag.Title = "Home Page";
}

<div id="jumbotron" class="jumbotron">
    <h1>DuckyData</h1>
    <p class="lead">DuckyData is a free web application for downloading and keeping track of media file metadata.</p>
    <h4>Getting started</h4>
    <p>
        DuckyData gives you a quick and easy way to merge media files with metadata, keep track of your upload history, favourite your media and so much more. Imagine a
        website that gives you full control over your metadata.
        @{ Html.RenderAction("_MediaInput", "MusicFetch"); }
        @{ Html.RenderAction("_Admin", "ControlPanels"); }  
    </p>
    <p>To learn more about the steps to add metadata to your media files, click the link below.</p>
    <p><a href="/Home/LearnMore" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
