@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DuckyData</h1>
    <p class="lead">DuckyData is a free web application for downloading and keeping track of media file metadata.</p>
    <h4>Getting started</h4>
    <p>
        DuckyData gives you a quick and easy way to merge media files with metadata, keep track of your upload history, favourite your media and so much more. Imagine a
        website that gives you full control over your metadata.
    </p>
    <p>To learn more about the steps to add metadata to your media files, click the link below.</p>
    <p><a href="/Home/LearnMore" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>