@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/homeController.js")

<div id="jumbotron" class="jumbotron" ng-controller="homeCtrl">
    <h4>Search Meatdata</h4>
    <p>
        Our site support audio and video metadata search
        <br>1.) We support metadata search for audio or video once each time
        <br>2.) You can drag and drop the file into the white box below or just single click the white box
        <br>3.) We have two options available:
        <br>&nbsp;a. Identify Media File: will search metadata for the file you uploaded and send you back the file with metadata applied
        <br>&nbsp;b. Identify Media File and Search: will have all the feature from first option. If you uploaded an audio file, we will search the album that contain the audio. If you 
        uploaded a video file, we will directly search the video for you.
    </p>
    <div class="width-100" id="file-identify-upload-box">
        <div class="width-100 file-drop-area">
            <div class="width-100 pull-left medi-drop-box" nv-file-drop uploader="singAudioUploader" ng-click="inputTagTrigger('#audio-indentift-select-tag')">
                drag and drop audio file here  <br> or click here to select file (100MB Maximun)
                <br><br>
                <div class="width-100">
                    <div class="file-name-to-indetify pull-left">{{singAudioUploader.queue[0]._file.name}}</div>
                    <span class="pull-right remove-identify-file" ng-click="singAudioUploader.queue=[];$event.stopPropagation()" ng-if="singAudioUploader.queue.length>0">&#10005</span>
                </div>
            </div>

            <div class="width-100 hidden-input-tag">
                <input type="file" id="audio-indentift-select-tag" nv-file-select uploader="singAudioUploader" multiple class="invisible">
            </div>
        </div>
        <div class="width-100 file-indentify-btn-group">
            <button class="btn btn-primary width-45 pull-left text-ellipsis" ng-click="identifyAudio(1)" ng-disabled="homePageUICtrl.disableIfentifyButton">Indentify Media File</button>
            <button class="btn btn-primary width-45 pull-right text-ellipsis" ng-click="identifyAudio(2)" ng-disabled="homePageUICtrl.disableIfentifyButton">Indentify Media File and Search</button>
        </div>
    </div>
</div>