@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/homeController.js")

<div id="jumbotron" class="jumbotron" ng-controller="homeCtrl">
    <h3>DuckyData</h3>
    <p class="lead">DuckyData is a free web application for downloading and keeping track of media file metadata.</p>
    <h4>Getting started</h4>
    <p>
        DuckyData gives you a quick and easy way to merge media files with metadata, keep track of your upload history, favourite your media and so much more. Imagine a
        website that gives you full control over your metadata.
    </p>
    <div class="width-100" id="file-identify-upload-box">
        <div class="width-100 file-drop-area">
            <div class="width-45 pull-left" nv-file-drop uploader="singAudioUploader" ng-click="inputTagTrigger('#audio-indentift-select-tag')">
                drag and drop audio file here <br> or click here to select file{{singAudioUploader.queue[0]._file.name}}
            </div>
           
            <div class="width-45 pull-right" nv-file-drop uploader="singVideoUploader" ng-click="inputTagTrigger('#video-indentift-select-tag')">
                drag and drop audio file here <br> or click here to select file
            </div>
            <div class="width-100 hidden-input-tag">
                <input type="file" id="audio-indentift-select-tag" nv-file-select uploader="singAudioUploader" class="invisible">
                <input type="file" id="video-indentift-select-tag" nv-file-select uploader="singVideoUploader" class="invisible">
            </div>
        </div>
        <div class="width-100 file-indentify-btn-group">
            <button class="btn btn-primary width-45 pull-left">Indentify Audio</button>
            <button class="btn btn-primary width-45 pull-right">Indentify Video</button>
        </div>
    </div>

</div>