<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Callback</title>
</head>
<body>
    <p ng-controller="callBackCtrl">
        This page should close soon
    </p>
</body>
</html>
<script>
    duckyData.controller('callBackCtrl', function ($window, $cookies, $location, $timeout) {
        
        (function () {
            var abspath = $location.absUrl();
            var myRe = /#access_token=.+&token_type/g;
            var myArray = myRe.exec(abspath);
            var token = myArray[0];
            token = token.substring(14)
            $cookies.put('gapiToken', token.substring(0, token.length - 11));
            console.log($cookies.get('gapiToken'));
            $timeout(function () {
                $window.close();
            }, 500)
        })();
    });

</script>