#list-favourite-audio{
    width: 100%;
    overflow:hidden;
    min-height: calc(100vh - 165px);
    height: auto;
    background: #F1F1F1
}

#list-favourite-audio-header {
    padding: 5px;
    height: 45px;
    width: 100%;
    background: #E3E3E3;
}

#list-favourite-audio-header h3{
    width: 100px;
    overflow-y: hidden;
    display: inline;
    margin: 0;
}

#list-favourite-audio-header form > div{
    width: 280px;
}
#list-favourite-audio-header form > div input{
    width: 220px;
}


#list-favourite-audio-header button{
    height: 35px;
    border: none;
    color: #fff;
    background: #1ABC9C;
}
 ul.pagination{
    padding-left: 0 !important;
    padding-right: 0 !important;;
}