#MusicFetchIndex{
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

#MusicFetchIndex #album-info{
    background: #f9f9f9;
    height: 130px;
    padding-top: 5px;
    padding-left: 5px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#MusicFetchIndex #music-data-info{
    height: auto;
    padding: 5px;
}

#MusicFetchIndex #album-cover{
    width: 120px;
    height: 120px;
}
#MusicFetchIndex #album-detail-info{
    padding-left: 10px;
    height: 120px;
    width:calc(100% - 125px);
}
#album-detail-info .artist-label{
    width: 70px;
}
#album-detail-info .album-title{
    font-size: 115%;   
    font-weight: 600;
}
#music-data-info #track-index{
    width: 35px;
    text-align: center;
}

#music-data-info #track-download{
    width: 50px;
    text-align: center;
}
#music-data-info #track-playing{
    width: 50px;
    text-align: center;
}
#music-data-info #track-title{
    width: calc(100% - 255px);
}

#music-data-info #track-preview{
    width: 50px;
    text-align: center;
}
#music-data-info #track-duration{
    width: 70px;
}
#music-data-info .track-repeat{
    border-bottom: 1px solid #f1f1f1;
    height: 50px;
    line-height: 50px;
   -webkit-transition: box-shadow 0.15s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.15s;

}
#music-data-info .track-repeat:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#music-data-info .track-repeat a.fui-link,
#music-data-info .track-repeat a.fui-play {
    visibility: hidden;   
}

#music-data-info .track-repeat:hover a.fui-link,
#music-data-info .track-repeat:hover a.fui-play {
    visibility: visible;
}

#track-preview-module{
    position: fixed;
    bottom:20px;
    left:-530px;
    background: #00BFA5;
    width: 550px;
    height: 120px;
    z-index: 1000 !important;
    -webkit-transition: left 0.7s; /* For Safari 3.1 to 6.0 */
    transition: left 0.7s;
}

#track-preview-module #preview-album-cover, #track-preview-module #preview-album-cover img{
    width: 120px;
    height: 120px;
}

#track-preview-module #preview-album-console{
    width: 410px;
    padding: 10px;
    height: 120px;
    color: #fff;
}

#track-preview-module #preview-album-console .duration{
    font-size: 85%;
}

#track-preview-module #preview-album-console audio{
    position: absolute;
    bottom:10px;
    width: 390px;
}
#perview-module-status{
    height: 120px;
    width: 20px;
    background: #34495E;
    color: #fff;
    line-height: 120px;
    text-align:center;
    cursor: pointer;
}
#track-preview-module.show-preview-module{
    left: 5px;
}

#track-preview-module.show-preview-module span.fui-arrow-left{
    display: none !important;
}
#track-preview-module span.fui-arrow-left{
    display: block !important;
}
#track-preview-module.show-preview-module span.fui-arrow-right{
    display: block;
}
#track-preview-module span.fui-arrow-right{
    display: none;
}