#MusicFetchIndex{
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

#MusicFetchIndex #album-info{
    background: #f9f9f9;
    height: 130px;
    padding-top: 5px;
    padding-left: 5px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#MusicFetchIndex #music-data-info{
    height: auto;
    padding: 5px;
}

#MusicFetchIndex #album-cover{
    width: 120px;
    height: 120px;
}
#MusicFetchIndex #album-detail-info{
    padding-left: 10px;
    height: 120px;
    width:calc(100% - 155px);
}
<<<<<<< HEAD

#MusicFetchIndex #back-to-possible-album-list {
    height: 120px;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    background: #EEEEEE;
    width:30px;
}
#album-detail-info .artist-label{
    width: 70px;
}
#album-detail-info .album-title{
    font-size: 115%;   
    font-weight: 600;
}
#music-data-info #track-index{
    width: 35px;
    text-align: center;
}

#music-data-info #track-download{
    width: 50px;
    text-align: center;
}
#music-data-info #track-playing{
    width: 50px;
    text-align: center;
}
#music-data-info #track-title{
    width: calc(100% - 305px);
}

#music-data-info #add-track-favourite{
    width: 50px;
    text-align: center;
}

#music-data-info #track-pause{
    width: 50px;
    text-align: center;
}
#music-data-info #track-duration{
    width: 70px;
}
#music-data-info .track-repeat{
    border-bottom: 1px solid #f1f1f1;
    height: 50px;
    line-height: 50px;
   -webkit-transition: box-shadow 0.15s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.15s;

}
#music-data-info .track-repeat:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#music-data-info .track-repeat a.fui-link,
#music-data-info .track-repeat a.fui-play,
#music-data-info .track-repeat a.fui-pause,
#music-data-info .track-repeat a.fui-heart
 {
    visibility: hidden;   
    cursor: pointer;
}

#music-data-info .track-repeat:hover a.fui-link,
#music-data-info .track-repeat:hover a.fui-play,
#music-data-info .track-repeat:hover a.fui-pause,
#music-data-info .track-repeat:hover a.fui-heart {
    visibility: visible;
}

#music-data-info .track-repeat.visible a.fui-link,
#music-data-info .track-repeat.visible a.fui-play,
#music-data-info .track-repeat.visible a.fui-pause,
#music-data-info .track-repeat.visible a.fui-heart{
    visibility: visible;
}

#track-preview-module{
    position: fixed;
    bottom:20px;
    left:-530px;
    background: #00BFA5;
    width: 550px;
    height: 120px;
    z-index: 1000 !important;
    -webkit-transition: left 0.7s; /* For Safari 3.1 to 6.0 */
    transition: left 0.7s;
}

=======

#MusicFetchIndex #back-to-possible-album-list {
    height: 120px;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    background: #EEEEEE;
    width:30px;
}
#album-detail-info .artist-label{
    width: 70px;
}
#album-detail-info .album-title{
    font-size: 115%;   
    font-weight: 600;
}
#music-data-info #track-index{
    width: 35px;
    text-align: center;
}

#music-data-info #track-download{
    width: 50px;
    text-align: center;
}
#music-data-info #track-playing{
    width: 50px;
    text-align: center;
}
#music-data-info #track-title{
    width: calc(100% - 255px);
}

#music-data-info #track-pause{
    width: 50px;
    text-align: center;
}
#music-data-info #track-duration{
    width: 70px;
}
#music-data-info .track-repeat{
    border-bottom: 1px solid #f1f1f1;
    height: 50px;
    line-height: 50px;
   -webkit-transition: box-shadow 0.15s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.15s;

}
#music-data-info .track-repeat:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#music-data-info .track-repeat a.fui-link,
#music-data-info .track-repeat a.fui-play,
#music-data-info .track-repeat a.fui-pause
 {
    visibility: hidden;   
    cursor: pointer;
}

#music-data-info .track-repeat:hover a.fui-link,
#music-data-info .track-repeat:hover a.fui-play,
#music-data-info .track-repeat:hover a.fui-pause {
    visibility: visible;
}

#music-data-info .track-repeat.visible a.fui-link,
#music-data-info .track-repeat.visible a.fui-play,
#music-data-info .track-repeat.visible a.fui-pause{
    visibility: visible;
}

#track-preview-module{
    position: fixed;
    bottom:20px;
    left:-530px;
    background: #00BFA5;
    width: 550px;
    height: 120px;
    z-index: 1000 !important;
    -webkit-transition: left 0.7s; /* For Safari 3.1 to 6.0 */
    transition: left 0.7s;
}

>>>>>>> master2Clone
#track-preview-module #preview-album-cover, #track-preview-module #preview-album-cover img{
    width: 120px;
    height: 120px;
}

#track-preview-module #preview-album-console{
    width: 410px;
    padding: 10px;
    height: 120px;
    color: #fff;
}

#track-preview-module #preview-album-console .duration{
    font-size: 85%;
}

#track-preview-module #preview-album-console audio{
    position: absolute;
    bottom:10px;
    width: 390px;
}
#perview-module-status{
    height: 120px;
    width: 20px;
    background: #34495E;
    color: #fff;
    line-height: 120px;
    text-align:center;
    cursor: pointer;
}
#track-preview-module.show-preview-module{
    left: 5px;
<<<<<<< HEAD
}

#track-preview-module.show-preview-module span.fui-arrow-left{
    display: block !important;
}
#track-preview-module span.fui-arrow-left{
    display: none !important;
}
#track-preview-module.show-preview-module span.fui-arrow-right{
    display: none;
}
#track-preview-module span.fui-arrow-right{
    display: block;
}
#possible-album-list{
    height: auto;
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

=======
}

#track-preview-module.show-preview-module span.fui-arrow-left{
    display: block !important;
}
#track-preview-module span.fui-arrow-left{
    display: none !important;
}
#track-preview-module.show-preview-module span.fui-arrow-right{
    display: none;
}
#track-preview-module span.fui-arrow-right{
    display: block;
}
#possible-album-list{
    height: auto;
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

>>>>>>> master2Clone
#possible-album-list #possible-album-holder{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #eee;
    min-height: calc(100vh - 166px);
}

#possible-album-list #possible-album-footer{
    width: 100%;
    height: auto;
    overflow: hidden;
}

#possible-album-list #possible-album-footer >ul{
    margin:5px 0 0 0 !important;
}

#possible-album-list .album-repeat{

    height: 160px;
    margin: 20px;
    width: calc((100% - 80px)/2);
    cursor: pointer;
    background: #f9f9f9;
}

@media (max-width: 1200px) {
    #possible-album-list .album-repeat{
        width: calc((100% - 80px)/2);
    }
}

@media (max-width: 992px) {
    #possible-album-list .album-repeat{
        width: calc(100% - 80px);
         margin: 20px 40px;
    }
}

@media (max-width: 550px) {
    #possible-album-list .album-repeat{
        width: calc(100% - 0px);
         margin: 20px 0px;
    }
}


#possible-album-list .album-repeat:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
}

#possible-album-list .album-repeat img{
    width: 140px;
    height: 140px;
    margin-left: 20px;
    margin-top: 10px;
}
#possible-album-list .album-repeat .ablum-title{
    padding: 0 15px 0 0px;
    height: 50px;
}
#possible-album-list .album-repeat .ablum-title label{
    font-size: 105% !important;
}

#possible-album-list .album-repeat .ablum-track-nb{
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 0px;
}

#possible-album-list .album-repeat .ablum-track-nb label{
    margin-right: 10px;
<<<<<<< HEAD
}

#possible-album-list .album-repeat .ablum-artist{
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 0px;
}

#possible-album-list .album-repeat .ablum-artist label{
    margin-right: 10px;
}

=======
}

#possible-album-list .album-repeat .ablum-artist{
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 0px;
}

#possible-album-list .album-repeat .ablum-artist label{
    margin-right: 10px;
}

>>>>>>> master2Clone
.possible-album-info{
    width: calc(100% - 160px);
    height: 100%;
    padding: 10px;
}

@media (max-width: 570px) {

    #track-preview-module #preview-album-cover, #track-preview-module #preview-album-cover img{
        width: 100px;
        height: 100px;
        margin-top: 5px;
    }
    #track-preview-module{
        width: 360px;
    }
    
    #track-preview-module  #preview-album-console audio{
        bottom:10px;
        margin-left: 0px;
        width: 230px;
    }

    #track-preview-module #preview-album-console{
        width: calc(100% - 120px);
        padding: 10px 5px;
        height: 120px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> master2Clone
