#videoPlayer{
    text-align: left !important;
}

.modal-dialog{

    border-bottom-right-radius: none !important;
}

#videoPlayer .modal-dialog .modal-content{
    width: 670px;
    position: absolute;
    top: 40px;
    left: calc(50vw - 340px);
}

#videoPlayer .modal-content .modal-header{
    height: 40px;
    line-height: 30px;
    padding: 0 15px;
}

#videoPlayer .modal-content .modal-header > button.close{
    margin-top: 5px;
    background: #E74C3C;
    text-shadow: none !important;
    opacity: 1;
    color: #fff;
    width: 25px;
    border-radius: 50px;
    border: 1px solid red;
    height: 25px;
    font-size: 95%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#videoPlayer .modal-content .modal-header > button.close:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#videoPlayer .modal-content .modal-footer{
    text-align: left !important;
    border-radius: none !important;
}