<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="width-100">
        <button class="btn btn-primary" onclick="secondFunction()">Go</button>
    </div>
</body>
</html>
<script>
    function secondFunction() {
        SC.initialize({
            client_id: 'd468660bb9056f5d8e48361dd5327c80',
            redirect_uri: 'http://localhost:8102/MusicFetch/Create'
        });
        console.log(SC)
        // initiate auth popup
        SC.connect().then(function () {
            
        });
    }
</script>