<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        @Styles.Render("~/Content/MusicFetch/MusicFetchIndex.css")
        @Styles.Render("~/Content/helper.css")
        <script type="text/javascript" src="../../Scripts/musicFetch.js"></script>
    </head>
    <body ng-controller="musicFetchCtrl">
        <div id="MusicFetchIndex" ng-show="musicFetchUICtrl.showTrackList">
            <div id="album-info">
                <div id="album-cover" class="pull-left">
                    <img alt="cover" ng-src={{musicFetchData.album.cover}} />
                </div>
                <div id="album-detail-info" class="pull-left">
                    <div class="width-100">
                        <div class="width-80 album-title text-ellipsis">{{musicFetchData.album.title}}</div>
                    </div>
                    <div class="width-100">
                        <div class="width-20 pull-left artist-label">Artist：</div>
                        <div class="width-80 pull-left text-ellipsis"">{{musicFetchData.album.artist.name}}</div>
                    </div>
                </div>
                <div id="back-to-possible-album-list" class="pull-left" ng-click="musicFetchUICtrl.showTrackList = false;musicFetchUICtrl.showPossibleAlbum=true;musicFetchUICtrl.showPreviewWindow=false;playPausePreview('reset')">
                    <span class="fui-arrow-left"></span>
                </div>
            </div>

            <div id="music-data-info">
                <div class="width-100 track-repeat" ng-repeat="track in musicFetchData.albumTrackList" ng-class="{'visible':track.id==musicFetchData.currentPreview.id}">
                    <div id="track-index" class="pull-left">{{$index + 1}}</div>
                    <div id="track-title" class="pull-left text-ellipsis">{{track.title_short}}</div>
                    <div id="add-track-favourite" title="Add to favourite" class="pull-left">
                        <a class="fui-heart" ng-click="addToMyAudioFavourite(track)"></a>
                    </div>
                    <div id="track-playing" title="preview" class="pull-left">
                        <a class="fui-play" ng-click="musicFetchData.currentPreview = track;playPausePreview('play')"></a>
                    </div>
                    <div id="track-pause" class="pull-left">
                        <a class="fui-pause" ng-click="musicFetchData.currentPreview = track;playPausePreview('pause')"></a>
                    </div>
                    <div id="track-download" title="preview" class="pull-left">
                        <a class="fui-link" ng-href={{track.link}} title="download"></a>
                    </div>
                    <div id="track-duration" class="pull-left">{{track.duration| formatTimer}}</div>
                </div>
            </div>
        </div>

        <!-- list of possible album-->
        <div id="possible-album-list" ng-show="musicFetchUICtrl.showPossibleAlbum">
            <div id="possible-album-holder">
                <div class="album-repeat pull-left" ng-repeat="album in musicFetchData.possibleAlbunList" ng-click="musicFetchData.album = album;getAlbumTrack(album.tracklist)">
                    <div class="possible-album-cover pull-left">
                        <img ng-src={{album.cover}}>
                    </div>
                    <div class="possible-album-info pull-left">
                        <div class="width-100 ablum-title text-ellipsis">
                            {{album.title}}
                        </div>
                        <div class="width-100 ablum-artist">
                            <div class="text-ellipsis"><label>Artist: </label>{{album.artist.name}}</div>
                        </div>
                        <div class="width-100 ablum-track-nb">
                            <div class="text-ellipsis"><label>Number of Tracks: </label>{{album.nb_tracks}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="possible-album-footer">
                <ul class="pagination">
                    <li ng-click="jumpPage(albumPagination.current-1)">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li  ng-repeat="page in albumPagination.pageList | limitTo: 5 : albumPagination.begin" ng-class="{'active':page == albumPagination.current}" ng-click="jumpPage(page)"><a href="#"><span>{{page||0}}</span></a></li>
                    <li ng-click="jumpPage(albumPagination.current+1)">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="loading-logo" ng-if="audioPreviewCtrl.loadAnotherOfAlbumBusy">
                <div class="width-100">
                    <span class="loading-circle">&nbsp;</span>
                    <span class="loading-text">Loading...</span>
                </div>
            </div>
        </div>
        <!-- preview music module -->
        <div id="track-preview-module" ng-class={'show-preview-module':musicFetchUICtrl.openPreviewWindow,'invisible':!musicFetchUICtrl.showPreviewWindow}>
            <div id="preview-album-cover" class="pull-left">
                <img alt="cover" ng-src={{musicFetchData.album.cover}} />
            </div>
            <div id="preview-album-console" class="pull-left">
                <div id="preview-track-info">
                    <div class="width-100 title">{{musicFetchData.currentPreview.title_short}}</div>
                    <div class="width-100 duration">Time:  30s</div>
                </div>
                <audio controls id="previewAudio" ng-src="{{musicFetchData.currentPreview.preview | trustUrl}}"></audio>
            </div>
            <div id="perview-module-status" class="pull-left" ng-click="musicFetchUICtrl.openPreviewWindow=!musicFetchUICtrl.openPreviewWindow">
                <span class="fui-arrow-right"></span>
                <span class="fui-arrow-left"></span>
            </div>
        </div>
        <app-Pagination></app-Pagination>
</body>
</html>
