<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/MusicFetch/MusicFetchIndex.css")
    @Styles.Render("~/Content/helper.css")
    <link rel="stylesheet" type="text/css" href="~/Content/MusicFetch/audioUploader.css">
    <script type="text/javascript" src="../../Scripts/musicFetchCreate.js"></script>
</head>
<body ng-controller="musicFetchCreateCtrl">
    <div class="width-100" id="audio-uploader">
        <div id="audio-drop-box"  nv-file-drop uploader="audioFileUploader" ng-click="inputTagClick()">
            drop your files here or click here to select audio files
        </div>
        <input type="file" id="audio-file-select-tag" nv-file-select uploader="audioFileUploader" multiple class="invisible">
        <div id="audio-drop-display">
            <div class="audio-upload-repeat" ng-repeat="audio in audioFileUploader.queue">
                <div class="pull-left audio-file-name">{{audio.file.name}}  {{audio.pct || 0}}</div>
                <div class="pull-left audio-file-remove"><span class="fui-trash" ng-click="audioFileUploader.queue.splice($index,1)"></span></div>
                <div class="pull-left audio-file-size">{{audio.file.size/1024/1024 | number:2}} MB</div>
            </div>
        </div>
        <div id="audio-uploader-footer">
            <button class="btn btn-danger pull-right btn-sm" ng-disabled="musicUploaderUICtrl.disableUploadAll" ng-click="musicUploaderUICtrl.disableUploadAll=true;uploadAllAudio()">Upload All ({{audioFileUploader.queue.length}})</button>
        </div>
    </div>
</body>
</html>