@{
    ViewBag.Title = "Confirm Email";
}
@Scripts.Render("~/Scripts/ConfirmEmailController.js")
<h2>Account Registered</h2>
<div ng-controller="ConfirmEmailCtrl">
    <p>
        Thank you for confirming your email.<br> We will redirect you to complete your profile in <span class="title">{{counter}}</span> s
    </p>
</div>
