@{
    ViewBag.Title = "Email Sent";
}

<hgroup class="title">
    <h4>Please check your email to activate your account.</h4>
</hgroup>
<div>
    <p>
        Token to activate your account will be expired in an hour, please activate it as soon as you received the email.<br>If you didn't receieve the email in 5 minutes, please check you junk email inbox or contact us.
    </p>
</div>

