@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h4>Please check your email to reset your password.</h4>
</hgroup>
<div>
    <p>
        Token for reset password will be expired in an hour, please reset your password as soon as you received the email.<br>If you didn't receieve the email in 5 minutes, please check you junk email inbox or contact us.
    </p>
</div>

