@{
    ViewBag.Title = "RoleIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>
<div class="spacerBody">
    <h4>Role List</h4>
    @foreach (string s in Model)
    {
        <div class="col-lg-12">
            <div class="col-lg-8">@s</div>
            <div class="col-lg-4">
                @if(@s != "Admin" && @s != "TechSupport")
                {
                    <span onclick="return confirm('Are you sure to delete?') ">
                        <a href="/Account/RoleDelete?RoleName=@s" class="delLink">Delete</a>
                    </span>
                }
            </div>
        </div>
    }
</div>
@Html.ActionLink("Create New Role","RoleCreate") | @Html.ActionLink("Add Role to User","RoleAddToUser")
